span.st-emotion-cache-10trblm.e1nzilvr1
{
    color:goldenrod;
    border-radius:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.st-emotion-cache-1kn7chm.e1nzilvr5>hr{
    background-color:white;

}
table.st-emotion-cache-1i67l00.e1q9reml3>thead{
    text-align: center;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
}
thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}

div.st-emotion-cache-zq5wmm.ezrtsby0{
    visibility:hidden;
}